body{
    margin: 0;
    height: 100%;
}
.header{
    padding: 15px 0;
    background-color:#ffffff;

}
.header-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid green;
    justify-content: center;

}
.logo-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid green;
    width: 80%;
    cursor: pointer; 

}

.logo-content-img{
    border: solid 1px black;

}

.emp-text{
 font: normal normal bold 15px/20px TimesRoman;
 letter-spacing: 0px;
 color: #82a70c;

}

.emp-payroll{
color: black;
}

*{
box-sizing:border-box;

}

.text-div{
    display:flex;
    flex-direction:column;
    padding: 5px;
}

.form-content {
 min-height: calc(100%-80px);
 background-color: #f7f7f7;
 display: flex;
 justify-content: center;
 align-items: center;
 border: 1px solid green;
 padding-top: 10px;
 padding-bottom: 10px;

}

.form{
width: 65%;
padding: 44px 60px;
background: #ffffff 0% 0% no-repeat padding box;
box-shadow: 0px 3px 6px #00000029;
border-radius: 8px;
opacity: 1;
}

.form-head{
    font: normal normal bold 20px/34px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    text-transform: capitalize;
    opacity: 1;
    padding-bottom: 20px;
}

.row-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    border: 0px solid green;
}